<div ng-class="{ edit: $$edit }">
  <div class="controls">
    <i class="fa fa-circle"
      ng-class="query.color"
      ng-click="edit()"></i>
    <strong class="alias"
      ng-if="query.alias">{{ query.alias }}</strong>
    <input type="text"
      ng-model="query.query">
    <i class="fa fa-search"></i>
    <i class="fa fa-plus"
      ng-click="add()"></i>
  </div>
  <div ng-if="$$edit"
    class="form">
    <div class="form-body">
      <label>Query Alias</label>
      <input type="text" ng-model="query.alias">
      <color-picker ng-model="query.color"></color-picker>
      <button ng-click="edit()"
        class="gray-dark-bg gray-lightest">Close</button>
      <button ng-if="showRemove"
        ng-click="remove(query)"
        class="red-dark-bg gray-lightest">Remove</button>
    </div>
  </div>
</div>

