<div class="new-workspace">
  <div class="thor-modal-body">
    <h2>Create a new workspace</h2>
    <form name="newWorkspace">
      <div>
        <input
          type="text"
          name="name"
          placeholder="Name this workspace"
          ng-required="true"
          ng-model="newDoc.name">
      </div>
      <div>
        <label>Choose an index pattern</label>
        <select
          name="indexPattern"
          ng-required="true"
          ng-model="newDoc.indexPattern"
          ng-options="option.title for option in indexPatterns track by option.title"></select>
      </div>
    </form>
  </div>
  <div class="thor-modal-footer">
    <button
      class="green-bg gray-lightest"
      ng-disabled="newWorkspace.$invalid"
      ng-click="create(newWorkspace)">Create Workspace</button>
  </div>
</div>

