<div>
  <i class="fa fa-eye"
     ng-class="{ disabled: bucket.hide }"
     ng-click="toggleHide()"></i>
  <div>
    <select
     ng-model="model.type"
     ng-options="item.name for item in types"></select>
    <select
     class="field-selector"
     ng-if="model.type.simple && model.type.id !== 'count'"
     ng-model="model.field"
     ng-options="field.name for field in fields">
      <option value="">-- select field --</option>
    </select>
    <select
     class="field-selector"
     ng-if="!model.type.simple && model.type.id === 'derivative'"
     ng-model="model.field"
     ng-options="item.label for item in without(buckets, bucket)">
      <option value="">-- select field --</option>
    </select>
    <input type="text" placeholder="Alias" ng-model="model.options.alias">
  </div>
  <i
     class="fa fa-plus"
     ng-click="addBucket()"></i>
  <i
     class="fa fa-minus"
     ng-click="removeBucket(bucket)"
     ng-class="{ disabled: buckets.length === 1 }"></i>
</div>
<calculation
  ng-if="model.type.id === 'calculation'"
  model="model"
  bucket="bucket"
  without="without"
  buckets="buckets"></calculation>
