<div class="calculation">
  <div class="variables">
    <div class="variable" ng-repeat="var in model.options.vars">
      <i
         class="fa fa-plus"
         ng-click="addVar()"></i>
      <i
         class="fa fa-minus"
         ng-click="removeVar(var)"
         ng-class="{ disabled: model.options.vars.length === 1 }"></i>
      <input type="text" placeholder="Name of variable" ng-model="var.name">
      <select
        ng-model="var.metric"
        ng-options="item.label for item in without(buckets, bucket)"></select>
    </div>
  </div>
  <div class="script">
    <input type="text" placeholder="Enter equations here" ng-model="model.options.script">
  </div>
</div>
